---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Is today the Taskmaster's birthday?</h1>
		<h2>
			<blink>NO</blink>
		</h2>

	</body>
</html>


<style is:global>
	body {
		color: #fff;
		background: #711A1A url('/images/red-wallpaper-200.webp');
		max-width:800px;
		text-align: center;
		margin: 4em auto;
	}

	blink {
		-webkit-animation: 2s linear infinite condemed_blink_effect;
		animation: 2s linear infinite condemed_blink_effect;
	}
	@-webkit-keyframes condemed_blink_effect {
		0% {
			visibility: hidden;
		}
		50% {
			visibility: hidden;
		}
		100% {
			visibility: visible;
		}
	}
	@keyframes condemed_blink_effect {
		0% {
			visibility: hidden;
		}
		50% {
			visibility: hidden;
		}
		100% {
			visibility: visible;
		}
	}
</style>